 /* @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap') */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Zilla Slab", serif;

}

:root {
  --bg-color: #a2e0f0a5;
  --second-bg-color: #040460;
  --text-color: #000000;
  --main-color: rgb(0, 238, 255);
}

html {
  font-size: 62.5%;
  overflow-x: auto;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10% 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  font-weight: 800;
  padding: 2rem 9%;
  /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  /* background: linear-gradient(60deg,  #180e30, 0%, #5943a9 100%); */
  background: linear-gradient(to right, #180e30, #765ada);
  /* text-shadow:1px 1px 1px  #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 4rem;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
  z-index: -1;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
  text-shadow: 1px 1px 1px #000000;
}
.my-span {

  text-shadow: 1px 1px 1px #000000;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  position: sticky;
}

.home-content p {
  font-size: 1.6rem;
  position: static;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 1 rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.bubbly-button {
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #00fffc;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";

  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #00fffc 20%, transparent 30%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #00fffc 15%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #00fffc 15%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%),
    radial-gradient(circle, #00fffc 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #00fffc;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;

  margin: 3rem 1.5rem 3rem 0;
  background: var(--main-color);
  color: var(--second-bg-color);

  transition: 0.1s ease;
}

.social-media a:hover {
  border-radius: 50%;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
}

/* ******About Section ******* */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to right, #8871e6, #321d87);
}

.about-img img {

  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.8rem;
  margin: 2rem 0 3rem;
}

/* .services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: linear-gradient(to right, #8871e6, #321d87);

  padding: 3rem 2rem 4rem;
  border-radius: 3rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
} */

/* ***** Skill Section ******* */


.outer_container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_content {
    width: 60vw;
}
.my_skill {
  font-size: 40px;
  margin: 10px 0 30px 0;
  padding: 0;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  animation: animateText 2s infinite;
}
.skill-container {
  margin: 20px 0 0 0;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  box-sizing: border-box;
}

.skill-container p {
  margin: 0 0 5px 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.skill-container p:nth-child(2) {
  float: right;
  position: relative;
  top: -26px;
}

.skill-bar {
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid rgb(70, 3, 51);
  border-radius: 10px;
}

.skill-level {
  height: 8px;
  background-color: var(--second-bg-color);
  border-radius: 10px;

}

/*  Skill Level Filling using Animation 

 HTML */
.html {
  width: 96%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 56%;
  }
}

/* // Css */
.css {
  width: 90%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 48%;
  }
}

/* //Javascript */
.js {
  width: 90%;
  animation: js 5s ease-out;
}

@keyframes js {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 28%;
  }
}

/* // Sass */
.bootstrap {
  width: 85%;
  animation: sass 2s ease-in;
}

@keyframes sass {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 17%;
  }
}

/* // SQL */
.sql {
  width: 80%;
  animation: sql 5s;
}

@keyframes sql {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 18%;
  }
}

/* // PHP */
.php {
  width: 90%;
  animation: php 5s;
}

@keyframes php {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 34%;
  }
}



/* **** POrtfolio Section ***** */

.main-card {

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background: linear-gradient(to right, #8871e6, #321d87);

}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  cursor: pointer;
  margin: 30px;
  width: fit-content;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card-image img {
  grid-area: image;
  background: url("img1.jpg");
  height: 210px;
  width: 300.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}

.card-text a {
  text-decoration: none;
  color: #000000;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  margin-top: 2px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.card-stats .value sup {
  font-size: 12px;
}

.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}


/*card2*/
.card-image.card2 {
  background: url("img1.jpg");
  background-size: cover;
}

.card-text.card2 .date {
  color: rgb(255, 77, 7);
}

.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}

.card-stats.card2 {
  background: rgb(255, 77, 7);
}

/*card3*/
.card-image.card3 {
  background: url("img3.jpg");
  background-size: cover;
}

.card-text.card3 .date {
  color: rgb(0, 189, 63);
}

.card-stats.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}

.card-stats.card3 {
  background: rgb(0, 189, 63);
}

.js-tilt-glare {
  border-radius: 18px;
}

/* ******* .contact Section ****** */

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
  box-shadow: 0 0 1rem var(--main-color);
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 4rem;
  text-align: center;
  background: var(--main-color);
  box-shadow: 0 0 .1rem var(--main-color);
  font-size: 1.8rem;
  width: auto;

  cursor: pointer;
}

.contact-btn:hover {
  box-shadow: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
}


.footer-text p {
  font-size: 1.6rem;
  color: #fff;
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* .footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
} */


/* ******* Page Divider ******* */


/* BREAK POINTS */
@media (max-width:1400px) {
  .main-card {

    display: grid;

    align-items: center;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(3, 0.5fr);
    background: linear-gradient(to right, #8871e6, #321d87);
    height: auto;
  }

}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  .section {
    padding: 10rem 3% 2rem;
  }

  /* .services {
    padding-bottom: 15rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  } */
  .main-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    hei .contact {
      min-height: auto;
    }

    .footer {
      padding: 2rem 3%;
    }
  }

  @media (max-width: 768px) {
    #menu-icon {
      display: block;
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: linear-gradient(to right, #8871e6, #321d87);

      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
      display: none;
    }

    .navbar.active {
      display: block;
    }

    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0rem;
    }

    .home {
      flex-direction: column;
    }

    .home-content h3 {
      font-size: 2.6rem;
    }

    .home-content h1 {
      font-size: 5rem;
    }

    .home-img {
      width: 70vw;
      margin-top: 4rem;
    }

    .skill_png {
      width: 70vw;
      margin-top: 4rem;
    }

    .about {
      flex-direction: column-reverse;
    }

    .about-img {
      width: 70rem;
      margin-top: 4rem;
    }

    .main-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: auto;
    }

    /* .services h2 {
    margin-bottom: 3rem;
  } */

    /* .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  } */
  }

  @media (max-width: 617px) {
    .home-img img {
      width: 35vw;
      margin-left: -20%;
    }

    .main-card {

      display: grid;
      background: linear-gradient(to right, #8871e6, #321d87);
      height: auto;
    }

    .main-card h2 {
      margin-top: 5px;
    }

    /* .portfolio-container {
    grid-template-columns: repeat(1,1fr);
  } */
    .main-card {

      display: grid;
      grid-template-columns: repeat(1, 1fr);

      height: auto;
    }


    .about-img img {
      margin-left: 25%;
      background-image: none;
    }
  }

  @media (max-width: 450px) {
    html {
      font: size 50px;
    }

    .home-content h3 {
      margin-top: 40px;
    }

    .contact form .input-box input {
      width: 100%;
    }

    .my_skill {
      font-size: 30px;
      margin-bottom: 40px;

    }

    .skill_content {
      /* border: 2px solid black ; */
      width: 100vw;

    }

    .portfolio h2 {
      margin-bottom: 4rem;
      font-size: 40px;
    }

    .portfolio-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 365px) {
    .home-img img {
      width: 90vw;
    }

    .about-img img {
      width: 90vw;
    }

    .footer {
      flex-direction: column-reverse;
    }

    .footer p {
      text-align: center;
      margin-top: 2rem;
    }
  }